* {
  box-sizing: border-box;
}


body {
 margin: 0 0 0 0;
 background-color: #434242;
 font-family: 'Roboto'
}

.logo {
  color: #F9B009;
  font-weight: 500;
  margin-left: 20px;
}

.logo:hover {
  cursor: pointer;
  color: #E7EAEF;
}

.searchBar  {
  display: flex;
  align-items: center;
}

.searchBar > img {
  height: 25px;
  position: absolute;
  margin-left: 12px;
}

.searchText {
  font-size: 20px;
  padding-left: 45px;
  margin-top: 0px;
  height: 40px;
  margin-right: 20px;
  border: 0;
  outline: 0;
  background: transparent;
  border: 1px solid #656565;
  border-radius: 25px;
  color: #E7EAEF;
}

.headerDiv {
  height: 60px;
  display: flex;
  background-color: #2A2D32;
  align-items: center;
  justify-content: space-between;
  outline: 0.5px solid #656565 ;
}

.mainSection {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 200px;
}

.sidebarDiv {
  color: #E7EAEF;
  background-color: #2A2D32;
  width: 200px;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 110px;
  outline: 0.5px solid #656565 ;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.sidebarDiv > ul{
  display: inline-block;
  list-style: none;
  text-align: left;
  margin-left: -40px;
  margin-bottom: 0px;
}

.sidebarDiv > ul > li {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebarDiv > ul > li:hover {
  color: #F9B009;
  cursor: pointer;
}

.mainItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 0.5px solid #656565 ;
  color: #E7EAEF;
  background-color: #2A2D32;
  width: 1000px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.imageDiv > img {
  margin-right: 20px;
  height: 150px;
  border-radius: 10px 0px 0px 10px;
}

.mainInfo {
  width: 600px;
  
}

.mainTitle {
  font-weight: 500;
  font-size: 20px;
}

.mainDesc{
  font-size: 17px;
  font-weight: 400;
  padding-top: 10px;
}

.mainPrice{
  padding-right: 50px;
  font-weight: 500;
  font-size: 20px;

}

.mainInfo > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.imageDiv {
  display: flex;
  align-items: center;
}



.mainThing {
  margin-top: 50px;
}

.tickBoxDiv {
  width: 600px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-right: 200px;
  margin-left: 200px;
}

.tickBox {
  background-color: #2A2D32;
  outline: 0.5px solid #656565 ;
  color: #E7EAEF;
  border-radius: 25px;
  height: 40px;
  width: 100px;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 7px;
  font-size: 20px;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.tickBox:hover {
  color: #F9B009;
  cursor: pointer;
}